<!DOCTYPE html>
<html>

<head>
  <title>{{ page.title }}</title>
  <link rel="stylesheet" type="text/css" href="/css/main.css">
  <script src="https://kit.fontawesome.com/43417cc14f.js" crossorigin="anonymous"></script>
</head>

<body>
  <nav>
    <ul>
      <li><a href="/"><i class="fas fa-home"></i></a></li>
      <li><a href="/{{page.lang}}/blog">Zdrowie</a></li>
      <li><a href="/{{page.lang}}/about">{{ site.data.translations['about'][page.lang] }}</a>
      </li>
      {% include languages.html %}
    </ul>
  </nav>
  <div class="container">

    {{ content }}

  </div><!-- /.container -->
  <footer>
    <ul>
      <li><a href="mailto:kodak@zwinnie.pl">kodak@zwinnie.pl</a></li>
    </ul>
  </footer>
</body>

</html>